body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar */

.nav-bar {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    width: 90px;
    height: 90px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.header-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hero */

.hero {
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-cta p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.main-img img {
    width: 500px;
    height: 350px;
}

/* Content */

.content {
    align-items: center;
}

.content-info {
    display: flex;
    /* border: 2px red */
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quotation */

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

/* Contact Us */

.contact-us {
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.contact-item {
    flex: 1;
}

.contact-text {
    text-align: left;
}

.contact-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.contact-button button {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 15px;
}

/* Footer */

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}