.container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

div {
    
}
.nav-bar{
   display: flex;
   color: #e5e7eb;
   background-color: #1f2937;
   padding: 20px 0px 20px 0px;
   align-items: center;  
}

.header-logo img {
    width: 90px;
    height: 90px;
    margin-right: auto;
}

.header-link{
     color: #e5e7eb;
     font-size: 18px;
}